{
  "presets": ["react", "es2015", "stage-2"],
  "env": {
    "server": {
      "plugins": ["transform-decorators-legacy","syntax-dynamic-import", "dynamic-import-node"]
    },
    "client": {
      "plugins": ["transform-decorators-legacy","dynamic-import-webpack"]
    }
  }
}
