<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= htmlWebpackPlugin.options.meta %>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.options.public_path %>touch-icon-iphone-114.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.options.public_path %>touch-icon-iphone-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="<%= htmlWebpackPlugin.options.public_path %>touch-icon-ipad-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="<%= htmlWebpackPlugin.options.public_path %>touch-icon-ipad-144.png" />
</head>
<body>
  <div id="app"><%= htmlWebpackPlugin.options.htmlDom %></div>
  <script>
    window.__initState__ = <%= htmlWebpackPlugin.options.reduxState %>
  </script>
</body>
</html>
