
:global{
  /*
  .bd-navbar {
    background-color: #ffffff;
    border-bottom:1px solid #efefef;
    .navbar-brand{
      color:#333;
    }
    .nav-link{
      color:#333;
    }
    .navbar-toggler-icon{
      color:#333;
    }
  }
  */
}
