.head{
  position: fixed;
  width: 180px;
  list-style-type: none;

  padding:0px;
  margin:0px;

  li{
    padding:0px;
    margin:0px;
  }
  
  a {
    display: block;
    padding:10px;
    color:#333;
    text-decoration: none;
  }

  :global .active{
    font-weight: bold;
    background-color: #efefef;
  }

}
